<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Multi Loader | YouTube | Twitter | Instagram</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
    </style>
  </head>
  <body>
    <main class="main">
      <header class="header">
        <h1 class="">Multi Downloader</h1>
        <!-- maybe a interactive menu -->
      </header>
      <div class="main__content">
        <section class="card__container yt__container">
          <h2 class="card__title">YouTube</h2>
          <form
            class="form"
            method="post"
            action="{{ url_for('yt_download')}}"
            enctype="multipart/form-data"
          >
            <input
              class="form__input"
              type="text"
              placeholder="Paste your URL"
              aria-label="Paste your URL"
              name="yt_url"
              required
              autocomplete="off"
              pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()!@:%_\+.~#?&\/\/=]*)"
            />
            <button class="form__btn" type="submit">Send</button>
          </form>
        </section>

        <section class="card__container twitter__container">
          <h2 class="card__title">Twitter</h2>
          <form
            class="form"
            method="post"
            action="{{ url_for('twitter_download')}}"
            enctype="multipart/form-data"
          >
            <input
              class="form__input"
              type="text"
              placeholder="Paste your URL"
              aria-label="Paste your URL"
              name="yt_url"
              required
              autocomplete="off"
              pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()!@:%_\+.~#?&\/\/=]*)"
            />
            <button class="form__btn" type="submit">Send</button>
          </form>
        </section>

        <section class="card__container instagram__container">
          <h2 class="card__title">Instagram</h2>
          <form
            class="form"
            method="post"
            action="{{ url_for('instagram_download')}}"
            enctype="multipart/form-data"
          >
            <input
              class="form__input"
              type="text"
              placeholder="Paste your URL"
              aria-label="Paste your URL"
              name="instagram_url"
              required
              autocomplete="off"
              pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()!@:%_\+.~#?&\/\/=]*)"
            />
            <button class="form__btn" type="submit">Send</button>
          </form>
        </section>
      </div>
    </main>
    <script></script>
  </body>
</html>
