<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Multi Loader | YouTube | Twitter | Instagram</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <main class="">
      <header
        class="bg-transparent flex items-center justify-between p-4 border-b-2"
      >
        <h1 class="text-3xl font-bold text-center">Multi Loader</h1>
        <p class="text-center">
          <a href="" class="font-semibold hover:text-red-500">YouTube</a> |
          <a href="" class="font-semibold hover:text-blue-400">Twitter</a> |
          <a href="" class="font-semibold hover:text-fuchsia-500">Instagram</a>
        </p>
      </header>
      <form
        class="flex flex-col items-center justify-center mt-10 gap-6"
        method="post"
        action="{{ url_for('yt_download')}}"
        enctype="multipart/form-data"
      >
        <input
          class="border-2 border-gray-300 px-2 py-4 rounded-lg w-2/3 text-lg"
          type="text"
          placeholder="Paste your url"
          aria-label="Paste your url"
          name="yt_url"
          required
        />
        <button
          class="py-4 px-6 text-white rounded-xl w-1/2 text-xl bg-gradient-to-r from-cyan-500 to-blue-500 hover:from-cyan-400 hover:to-blue-400"
          type="submit"
        >
          Submit
        </button>
      </form>
    </main>
    <script></script>
  </body>
</html>
